.idea
target/
build/
logs/
bin-debug/
bin-release-temp/
#bin/
libs/
*.pbxuser
*.mode1v3
test-reports/*
.DS_Store
xcuserdata/
DerivedData/
*.iml
*.ipr
*.iws
**/.project
**/.settings
**/.classpath
order-thrift/src/main/java
.externalToolBuilders
.settings
.classpath
.project
src/main/webapp/WEB-INF/classes/
*.log
*.jar